@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');




body{
    background-color: hsl(185, 41%, 84%);
    display: block;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
}

.logo-img{
    position: relative;
    display: block;
    margin: auto;
    padding: 80px 0 50px 0;
}

#container{
    position: relative;
    margin:auto;
    background-color: #fff;
    justify-content: center;
    width: 750px;
    height: 420px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 25px 0 hsl(184, 14%, 56%);
}

#left-cont{
    position: relative;
    display: block;
    width: 375px;
    margin-left: 0;
}

form{
    width: 345px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 25px;
}

#bill{
    position: relative;
    display: block;
}

label{
    color: hsl(183, 100%, 15%);
}

#input-cost{
    display: grid;
    grid-row-gap: 0.5rem;
    position: relative;

}

#cost,#people{
    background-color: hsl(189, 41%, 97%);
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

#cost::before{
    content: '$';
}

form p{
    margin-top: 40px;
}

.tip{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-template-rows: repeat(2,40px);
    grid-gap: 10px;
    margin-bottom: 40px;
}

#tipc{
    position: relative;
    display: flex;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%);
}

#tip1,#tip2,#tip3,#tip4,#tip5{
    position: relative;
    display: flex;
    background-color: hsl(183, 100%, 15%);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor:default;
}

#tip1:hover,#tip2:hover,#tip3:hover,#tip4:hover,#tip5:hover{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}

#right-cont{
       /*display: block;*/ 
        width: 365px;

}

#display{
    background-color: hsl(183, 100%, 15%);
    margin: 25px 15px 25px 10px;
    border-radius: 10px;
}

#rgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 75px;
   /* justify-content: center;
    text-align: center;*/
    padding-top: 25px;
    padding-left: 35px;
    grid-row-gap: 25px;
}

#rate{
color: hsl(172, 67%, 45%);
font-size: 30px;
font-weight: 700;
}

#fff{
    color: #fff;
}

#ffe{
    color: hsl(184, 14%, 56%);
    font-size: 13px;
}

button{
    background-color: hsl(172, 67%, 45%);
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    border: none;
    height: 50px;
    margin-left: 35px;
    width:260px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 30px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.notification{
    position: absolute;
    top: 0;
    right: 0;
    color: #ff8303;
    opacity: 0;
}